{% extends 'blog/base.html' %}
{% load humanize %}

{% block content %}
    {% for post in page_obj %}
        <div class="post media border-top">
            <img class='rounded-circle accaunt-img profile-image' src=" {{ post.author.user_image.url }}">
            <div class="media-body">
                <div class="date">
                    <a href="{% url 'profile' post.author %}">{{post.author }}</a>
                    - {{ post.published_date|naturaltime }}
                </div>
                <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>

                {% if post.postimage_set.all %}
                <div id="carouselExampleCaptions{{ forloop.counter }}" class="carousel slide" data-ride="carousel" data-interval="false">
                    <!--Indicators-->
                    <ol class="carousel-indicators">
                    {% for p in post.postimage_set.all %}
                      <li data-target="#carouselExampleCaptions{{ forloop.parentloop.counter }}" data-slide-to="{{ forloop.counter0 }}" class="{% if forloop.counter0 == 0 %} active {% endif %}"></li>
                    {% endfor %}
                    </ol>
                    <!--/.Indicators-->
                    <!--Slides-->
                    <div class="carousel-inner">
                      {% for p in post.postimage_set.all %}
                      <div class="carousel-item {% if forloop.counter0 == 0 %} active {% endif %}">
                        <img class="d-block w-100" src="{{p.image.url}}"
                          alt="First slide">
                      </div>
                      {% endfor %}
                      <!--/First slide-->
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carouselExampleCaptions{{ forloop.counter }}" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleCaptions{{ forloop.counter }}" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                    <!--/.Controls-->
                  </div>
                </div>
                {% endif %}

                <p class="">{{ post.text|truncatechars:125|linebreaksbr }}</p>
                <div class="date">
                    Comments: {{ post.comments.all|length }}
                </div>
            </div>
            {% if user.is_authenticated and user == post.author or user.is_moderator %}
            <a class="btn btn-default" href="{% url 'post_edit' pk=post.pk %}"><button type="button" class="btn btn-outline-info">Edit <i class="fas fa-pencil-alt"></i></button></a>
            <a class="btn btn-default" href="{% url 'post_delete' pk=post.pk %}"><button type="button" class="btn btn-outline-danger">Delete <i class="fas fa-solid fa-trash"></i></button></a>
            {% endif %} 

        </div>
        {% endfor %}

        {% if not  page_obj %}
        <div class="not_found_container">
          <div class="text">
              <p class="no-results">Nothing was found for "{{ search }}"</p>
              <a href="/">Return to Homepage</a>
          </div>
          <div class="image">
              <img src="/media/not_found/not_found.jpg" alt="Image Description">
          </div>
        </div>
        {% endif %}
{% endblock %}
